<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.syezon.reader">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <application
        android:name=".application.ReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_about"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activity.WelcomeActivity"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.ReadActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.PermissionsActivity"
            android:theme="@style/AppTheme.NoActionBar.Permissions" />
        <activity
            android:name=".activity.BookDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.WiFiTransferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.NovelListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.BookChapterListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service android:name=".service.WiFiTransferService" />
        <service android:name=".service.BookIndexService" />
        <service android:name=".service.CacheService" />
        <service android:name=".service.GetCharsetService" />
        <!-- 友盟配置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58081c15e0f55a5912002525" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="@string/syezon_channel_id"></meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="5ac48b23e2a3355bafd3e37b64ae7d52" />

        <service android:name=".service.DownloadApkService"></service>
        <!-- 讯飞广告配置 -->
        <meta-data
            android:name="IFLYTEK_APPKEY_AD"
            android:value="58081d5a" />

        <service android:name="com.iflytek.voiceads.update.DownloadService" />

        <activity
            android:name="com.iflytek.voiceads.request.IFLYBrowser"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.WebviewActivity"></activity>
    </application>

</manifest>